@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

span,
a {
  font-size: 20px;
}
h1 {
  font-size: 36px;
  font-weight: 900;
}
h1 {
  font-size: 36px;
  font-weight: 900;
}
h2 {
  font-size: 32px;
  font-weight: 900;
}
h3 {
  font-size: 28px;
  font-weight: 900;
}
h4 {
  font-size: 24px;
  font-weight: 900;
}
h5,
h6 {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 1186px) {
  h1 {
    font-size: 32px;
    font-weight: 900;
  }
  h2 {
    font-size: 30px;
    font-weight: 900;
  }
}
/* @media (max-width: 700px) {
  .home_page {
    margin-top: 500px;
  }
} */

.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.card {
  position: relative;
  border-radius: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 20px;
  min-height: 360px;
  margin: 0 10px;
  text-decoration: none;
}
.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.carsoul-name {
  position: relative;
  padding: 10px;
  background-color: rgb(215, 235, 234);
  font-size: 18px;
  top: 130px;
  font-weight: 800;
}
a.nav-link.px-2.text-black.navbar_head {
  font-size: 19px;
  font-weight: 500;
}

.shadow_form {
  /* box-shadow: var(--bs-box-shadow) !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  /* --bs-nav-link-padding-x: 1rem; */
  /* --bs-nav-link-padding-y: 0.5rem; */
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 1px; */
  /* margin-bottom: 0; */
  /* list-style: outside; */
}
